.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-color: transparent;
  border-radius: $border-radius;
  background: $primary-500;
  color: $white;
  letter-spacing: $letter-spacing;
  text-transform: capitalize;
  cursor: pointer;
  transition: $transition;
  box-shadow: $shadow-1;

  &:hover {
    background: $primary-700;
    box-shadow: $shadow-3;
  }

  &--hipster {
    color: $primary-700;
    background: $primary-200;
  }

  &--hipster:hover {
    color: $primary-200;
    background: $primary-700;
  }

  &--block {
    display: block;
    width: 100%;
    text-align: center;
  }
}
